---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: traefik
spec:
  interval: 24h
  timeout: 5m
  ref:
    tag: 39.0.2
  url: oci://ghcr.io/traefik/helm/traefik
