---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana
spec:
  config:
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    news:
      news_feed_enabled: "false"
    database:
      type: postgres
      host: grafana-cnpg-grafana-rw:5432
      name: ${GRAFANA_DB_NAME}
      user: ${GRAFANA_DB_USER}
      password: ${GRAFANA_DB_PASSWORD}
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_USER
                  value: ${GRAFANA_ADMIN_USER}
                - name: GF_SECURITY_ADMIN_PASSWORD
                  value: ${GRAFANA_ADMIN_PASSWORD}
                - name: GF_DATE_FORMATS_USE_BROWSER_LOCALE
                  value: "true"
                - name: AUTH_CLIENT_ID
                  value: ${GRAFANA_AUTH_CLIENT_ID}
                - name: AUTH_CLIENT_SECRET
                  value: ${GRAFANA_AUTH_CLIENT_SECRET}
              resources:
                limits:
                  cpu: 200m
                requests:
                  cpu: 10m
          volumes:
            - name: grafana-data
              persistentVolumeClaim:
                claimName: grafana-pvc
  persistentVolumeClaim:
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 2Gi
