---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helm-release.yaml
  - ./loki.grafanadashboard.yaml
  - ./loki.grafanadatasource.yaml
configMapGenerator:
  - name: loki-helm-values
    files:
      - ./values.yaml
configurations:
  - ./kustomizeconfig.yaml
