---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/grafana.integreatly.org/grafanadatasource_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: loki
spec:
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana
  datasource:
    type: loki
    name: Loki
    access: proxy
    url: http://loki-loki-gateway:80
    jsonData:
      derivedFields:
        - name: TraceID
          url: http://tempo-tempo:3200/trace/$${__value.raw}
          datasourceUid: Tempo
          matcherRegex: (?:trace_id|traceid|trace)="([^"]+)"
          urlFormat: "TraceID: {{__value.raw}}"
