---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana
spec:
  config:
    server:
      root_url: https://grafana.${IDVN_DOMAIN}/
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    news:
      news_feed_enabled: "false"
    database:
      type: postgres
      host: grafana-postgres:5432
      name: ${GRAFANA_DB_NAME}
      user: ${GRAFANA_DB_USER}
      password: ${GRAFANA_DB_PASSWORD}
    auth:
      disable_login_form: "false"
    auth.generic_oauth:
      enabled: "true"
      name: Keycloak SSO
      allow_sign_up: "true"
      client_id: ${GRAFANA_AUTH_CLIENT_ID}
      client_secret: ${GRAFANA_AUTH_CLIENT_SECRET}
      scopes: "openid email profile offline_access roles"
      email_attribute_path: email
      login_attribute_path: username
      name_attribute_path: full_name
      groups_attribute_path: groups
      auth_url: "https://keycloak.${IDVN_DOMAIN}/realms/master/protocol/openid-connect/auth"
      token_url: "https://keycloak.${IDVN_DOMAIN}/realms/master/protocol/openid-connect/token"
      api_url: "https://keycloak.${IDVN_DOMAIN}/realms/master/protocol/openid-connect/userinfo"
      role_attribute_path: "contains(roles[*], 'grafana-admin') && 'Admin' || contains(roles[*], 'grafana-editor') && 'Editor' || 'Viewer'"
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_USER
                  valueFrom:
                    secretKeyRef:
                      name: grafana-admin
                      key: admin-user
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: grafana-admin
                      key: admin-password
                - name: GF_DATE_FORMATS_USE_BROWSER_LOCALE
                  value: "true"
                - name: AUTH_CLIENT_ID
                  value: ${GRAFANA_AUTH_CLIENT_ID}
                - name: AUTH_CLIENT_SECRET
                  value: ${GRAFANA_AUTH_CLIENT_SECRET}
              resources:
                limits:
                  cpu: 200m
                requests:
                  cpu: 10m
          volumes:
            - name: grafana-data
              persistentVolumeClaim:
                claimName: grafana-pvc
  persistentVolumeClaim:
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 2Gi
