---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ../../base/kube-prometheus-stack/
  - ./alertmanager-telegram.secret.sops.yaml
  - ./auth.middleware.yaml
patches:
  - target:
      kind: HelmRelease
      name: kube-prometheus-stack-kube-prometheus-stack
      group: helm.toolkit.fluxcd.io
      version: v2
    patch: |- # language: yaml
      - op: add
        path: /spec/valuesFrom/-
        value:
          kind: ConfigMap
          name: kube-prometheus-stack-main-helm-values
configMapGenerator:
  - name: kube-prometheus-stack-main-helm-values
    files:
      - ./values.yaml
configurations:
  - ./kustomizeconfig.yaml
