---
crds:
  enabled: false
cleanPrometheusOperatorObjectNames: true
defaultRules:
  rules:
    windows: false
grafana:
  enabled: false
  forceDeployDashboards: false
  sidecar:
    dashboards:
      enabled: false
    datasources:
      enabled: false
alertmanager:
  alertmanagerSpec:
    image:
      registry: quay.io
      repository: prometheus/alertmanager
      tag: v0.30.1
  serviceMonitor:
    selfMonitor: false
kubeControllerManager:
  enabled: false
kubeEtcd:
  enabled: false
kubeProxy:
  enabled: false
kubeScheduler:
  enabled: false
prometheus:
  serviceMonitor:
    selfMonitor: false
  prometheusSpec:
    image:
      registry: quay.io
      repository: prometheus/prometheus
      tag: v3.9.1
    enableAdminAPI: true
    scrapeInterval: 1m
    podMonitorSelectorNilUsesHelmValues: false
    # podMonitorNamespaceSelector: &prometheus-namespace-selector
    #   matchLabels:
    #     prometheus.kevinnitro/enabled: "1"
    probeSelectorNilUsesHelmValues: false
    # probeNamespaceSelector: *prometheus-namespace-selector
    ruleSelectorNilUsesHelmValues: false
    # ruleNamespaceSelector: *prometheus-namespace-selector
    scrapeConfigSelectorNilUsesHelmValues: false
    # scrapeConfigNamespaceSelector: *prometheus-namespace-selector
    serviceMonitorSelectorNilUsesHelmValues: false
    # serviceMonitorNamespaceSelector: *prometheus-namespace-selector
    resources:
      limits:
        cpu: 500m
        memory: 2Gi
      requests:
        cpu: 10m
        memory: 500Mi
    retention: 7d
    retentionSize: 10GiB
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 10Gi
prometheusOperator:
  serviceMonitor:
    selfMonitor: false
  resources:
    limits:
      cpu: 200m
    requests:
      cpu: 10m
