---
crds:
  enabled: false
cleanPrometheusOperatorObjectNames: true
defaultRules:
  rules:
    windows: false
grafana:
  enabled: false
  forceDeployDashboards: false
  sidecar:
    dashboards:
      enabled: false
    datasources:
      enabled: false
alertmanager:
  config:
  alertmanagerSpec:
    externalUrl: https://alertmanager.${LOCAL_DOMAIN}
    image:
      registry: quay.io
      repository: prometheus/alertmanager
      tag: v0.30.1
  serviceMonitor:
    selfMonitor: false
  route:
    http:
      enabled: true
      parentRefs:
        - &gateway
          name: default
          sectionName: http-wildcard-local
          namespace: traefik
      hostnames: &hostnames
        - alertmanager.${LOCAL_DOMAIN}
      httpsRedirect: true
    https:
      enabled: true
      parentRefs:
        - <<: *gateway
          sectionName: https-wildcard-local
      hostnames: *hostnames
kubeControllerManager:
  enabled: false
kubeEtcd:
  enabled: false
kubeProxy:
  enabled: false
kubeScheduler:
  enabled: false
prometheus:
  serviceMonitor:
    selfMonitor: false
  prometheusSpec:
    image:
      registry: quay.io
      repository: prometheus/prometheus
      tag: v3.8.1
    externalUrl: https://prometheus.${LOCAL_DOMAIN}
    enableAdminAPI: true
    scrapeInterval: 1m
    podMonitorSelectorNilUsesHelmValues: false
    # podMonitorNamespaceSelector: &prometheus-namespace-selector
    #   matchLabels:
    #     prometheus.kevinnitro/enabled: "1"
    probeSelectorNilUsesHelmValues: false
    # probeNamespaceSelector: *prometheus-namespace-selector
    ruleSelectorNilUsesHelmValues: false
    # ruleNamespaceSelector: *prometheus-namespace-selector
    scrapeConfigSelectorNilUsesHelmValues: false
    # scrapeConfigNamespaceSelector: *prometheus-namespace-selector
    serviceMonitorSelectorNilUsesHelmValues: false
    # serviceMonitorNamespaceSelector: *prometheus-namespace-selector
    resources:
      limits:
        cpu: 500m
        memory: 2Gi
      requests:
        cpu: 10m
        memory: 500Mi
    retention: 7d
    retentionSize: 10GiB
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 10Gi
  route:
    http:
      enabled: true
      parentRefs:
        - &gateway
          name: default
          sectionName: http-wildcard-local
          namespace: traefik
      hostnames: &hostnames
        - prometheus.${LOCAL_DOMAIN}
      httpsRedirect: true
    https:
      enabled: true
      parentRefs:
        - <<: *gateway
          sectionName: https-wildcard-local
      hostnames: *hostnames
prometheusOperator:
  serviceMonitor:
    selfMonitor: false
  resources:
    limits:
      cpu: 200m
    requests:
      cpu: 10m
