nameReference:
  - kind: Cluster
    group: postgresql.cnpg.io
    version: v1
    fieldSpecs:
      - path: spec/cluster/name
        kind: ScheduledBackup
        group: postgresql.cnpg.io
        version: v1
  - kind: Service
    version: v1
    fieldSpecs:
      - path: spec/rules/backendRefs/name
        kind: TLSRoute
        group: gateway.networking.k8s.io
        version: v1alpha2
  - kind: ObjectStore
    group: barmancloud.cnpg.io
    version: v1
    fieldSpecs:
      - path: spec/plugins/parameters/barmanObjectName
        kind: Cluster
        group: postgresql.cnpg.io
        version: v1
      - path: spec/externalClusters/plugin/parameters/barmanObjectName
        kind: Cluster
        group: postgresql.cnpg.io
        version: v1
  - kind: Secret
    version: v1
    fieldSpecs:
      - path: spec/bootstrap/recovery/secret/name
        kind: Cluster
        group: postgresql.cnpg.io
        version: v1
      - path: spec/bootstrap/initdb/secret/name
        kind: Cluster
        group: postgresql.cnpg.io
        version: v1
      - path: spec/configuration/s3Credentials/accessKeyId/name
        kind: ObjectStore
        group: barmancloud.cnpg.io
        version: v1
      - path: spec/configuration/s3Credentials/secretAccessKey/name
        kind: ObjectStore
        group: barmancloud.cnpg.io
        version: v1

# Add this to handle the serverName parameter
vars:
  - name: CLUSTER_NAME
    objref:
      kind: Cluster
      group: postgresql.cnpg.io
      version: v1
      name: keycloak
    fieldref:
      fieldpath: metadata.name
