---
# yaml-language-server: $schema=https://goauthentik.io/blueprints/schema.json
version: 1
metadata:
  name: Traefik Proxy
  description: Proxy Provider and Application for Traefik Proxy
entries:
  - model: authentik_providers_proxy.proxyprovider
    id: provider
    identifiers:
      name: Traefik Proxy
    attrs:
      internal_host_ssl_verify: false
      mode: forward_single
      external_host: https://traefik.${PUBLIC_DOMAIN}
      authorization_flow:
        !Find [
          authentik_flows.flow,
          [slug, default-provider-authorization-explicit-consent],
        ]
      authentication_flow:
        !Find [authentik_flows.flow, [slug, default-authentication-flow]]

  - model: authentik_core.application
    id: application
    identifiers:
      slug: traefik-dashboard
    attrs:
      name: Traefik Dashboard
      provider: !KeyOf provider
      group: Infrastructure

  - model: authentik_outposts.outpost
    identifiers:
      name: authentik Embedded Outpost
    attrs:
      providers:
        - !KeyOf provider
