---
namespaceOverride: monitoring
crds:
  enabled: false
cleanPrometheusOperatorObjectNames: true
defaultRules:
  rules:
    windows: false
grafana:
  enabled: false
  forceDeployDashboards: false
  sidecar:
    dashboards:
      enabled: false
    datasources:
      enabled: false
alertmanager:
  config:
    route:
      receiver: default
      routes:
        - receiver: default
    receivers:
      - name: default
        telegram_configs:
          - chat_id: -1001644026686
            message_thread_id: 638
            bot_token_file: /etc/alertmanager/secrets/telegram/bot_token
  alertmanagerSpec:
    image:
      registry: quay.io
      repository: prometheus/alertmanager
      tag: v0.29.0
    volumes:
      - name: &alertmanager-secret alertmanager-telegram
        secret:
          secretName: *alertmanager-secret
    volumeMounts:
      - name: *alertmanager-secret
        mountPath: /etc/alertmanager/secrets/telegram
  serviceMonitor:
    selfMonitor: false
  route:
    http:
      enabled: true
      parentRefs:
        - &gateway
          name: default
          sectionName: http-wildcard-local
          namespace: gateway
      hostnames: &hostnames
        - prometheus.${LOCAL_DOMAIN}
      httpsRedirect: true
    https:
      enabled: true
      parentRefs:
        - <<: *gateway
          sectionName: https-wildcard-local
      hostnames: *hostnames
kubeControllerManager:
  enabled: false
kubeEtcd:
  enabled: false
kubeProxy:
  enabled: false
kubeScheduler:
  enabled: false
prometheus:
  serviceMonitor:
    selfMonitor: false
  prometheusSpec:
    image:
      registry: quay.io
      repository: prometheus/prometheus
      tag: v3.8.1
    enableAdminAPI: true
    scrapeInterval: 1m
    podMonitorSelectorNilUsesHelmValues: false
    # podMonitorNamespaceSelector: &prometheus-namespace-selector
    #   matchLabels:
    #     prometheus.kevinnitro/enabled: "1"
    probeSelectorNilUsesHelmValues: false
    # probeNamespaceSelector: *prometheus-namespace-selector
    ruleSelectorNilUsesHelmValues: false
    # ruleNamespaceSelector: *prometheus-namespace-selector
    scrapeConfigSelectorNilUsesHelmValues: false
    # scrapeConfigNamespaceSelector: *prometheus-namespace-selector
    serviceMonitorSelectorNilUsesHelmValues: false
    # serviceMonitorNamespaceSelector: *prometheus-namespace-selector
    resources:
      limits:
        cpu: 500m
        memory: 2Gi
      requests:
        cpu: 10m
        memory: 500Mi
    retention: 7d
    retentionSize: 10GiB
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 10Gi
  route:
    http:
      enabled: true
      parentRefs:
        - &gateway
          name: default
          sectionName: http-wildcard-local
          namespace: gateway
      hostnames: &hostnames
        - prometheus.${LOCAL_DOMAIN}
      httpsRedirect: true
    https:
      enabled: true
      parentRefs:
        - <<: *gateway
          sectionName: https-wildcard-local
      hostnames: *hostnames
prometheusOperator:
  serviceMonitor:
    selfMonitor: false
  resources:
    limits:
      cpu: 200m
    requests:
      cpu: 10m
