---
# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/heads/master/traefik/values.schema.json
ports:
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  8080-https:
    port: 8080
    expose:
      default: true
  samba:
    port: 445
    expose:
      default: true
  postgres:
    port: 5432
    expose:
      default: true
providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: true
gateway:
  enabled: false
experimental:
  plugins:
    jwt:
      moduleName: github.com/traefik-plugins/traefik-jwt-plugin
      version: v0.7.1 # TODO: renovate track this
