---
# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/heads/master/traefik/values.schema.json
ports:
  traefik:
    expose:
      default: true
    observability:
      tracing: false
      metrics: false
  web:
    port: 8000
    expose:
      default: true
    observability:
      tracing: false
      metrics: false
  websecure:
    port: 8443
    expose:
      default: true
    observability:
      tracing: false
      metrics: false
  samba:
    port: 445
    expose:
      default: true
    observability:
      tracing: false
      metrics: false
  postgres:
    port: 5432
    expose:
      default: true
    observability:
      tracing: false
      metrics: false
providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: true
  kubernetesCRD:
    allowCrossNamespace: true
gateway:
  enabled: false
additionalArguments:
  - --api.insecure=true
api:
  dashboard: true

metrics:
  prometheus:
    service:
      enabled: true
    serviceMonitor:
      enabled: true

tracing:
  otlp:
    enabled: true
    grpc:
      enabled: true
      endpoint: alloy-alloy.monitoring:4317
      insecure: true

experimental:
  plugins:
    jwt:
      moduleName: github.com/traefik-plugins/traefik-jwt-plugin
      version: v0.7.1 # TODO: renovate track this
